<p id=involved-roles-form class=involved-roles>
  <label><%= l(:label_involved_members) %></label>
  <% functions = Function.available_functions_for(@project).sorted if @project
    functions = Function.active_by_default.sorted if functions.blank?
    functions.each do |function|
      role_is_involved = viewers.include?(function.id)
      role_is_mine = current_user_visibility_roles.include?(function)
    %>
    <% styles = role_is_involved ? 'involved' : '' %>
    <% styles << (role_is_mine ? ' mine' : '') %>
    <%= render "functions/visibility_role", :function => function, :styles => styles %>
  <% end %>
</p>
