<% if @issue.safe_attribute? 'assigned_to_id' %>
  <p>
    <%= f.select :assigned_to_id,
                 assignable_options_for_select(@issue, @issue.assignable_users, @issue.assigned_to || @issue.assigned_to_function_id),
                 :include_blank => true,
                 :required => @issue.required_attribute?('assigned_to_id') %>
  </p>
<% end %>
