<% if @project.module_enabled?("limited_visibility") %>

  <% viewers = function_ids_for_current_viewers(@issue) %>
  <% @functions = Function.available_functions_for(@project).sorted %>

  <hr/>
  <div id='current_involved_roles_list' class='involved-roles' style='display: flex;'>
    <label id="label_involved_roles"><%= l("field_authorized_viewers") %></label>
    <span id="list_of_involved_roles_per_issue">
    <% @functions.each do |function| %>
      <% styles = "disabled" + (viewers.include?(function.id) || @issue.authorized_viewers.blank? ? " involved" : "") %>
      <%= render "functions/visibility_role", :function => function, :styles => styles %>
    <% end %>
    </span>
  </div>

<% end %>
