<% user_functions = Function.joins(:member_functions).where("member_id = ?", member.id).sorted.uniq %>
<span class='visibility_roles' style="float: left;">
  <span id="member-<%= member.id %>-roles">
    <% if user_functions.any? %>
      <%= h user_functions.map(&:name).join(", ") %>
    <% else %>
      <span class="see_everything"><%= l('see_everything') %></span>
    <% end %>
  </span>
</span>
