<%= form_for(:functions,
             :method => :put,
             :url => {:controller => 'functions',
                      :action => 'copy_functions_settings_from_project',
                      :project_id => @project.id}) do %>
  <h2 style="margin-top: 10px;">Copier les paramètres d'un autre projet</h2>
  <fieldset class="box">
    <p>
      <% projects = Project.active.where("id IN (?)", ProjectFunction.select(:project_id).group(:project_id).pluck(:project_id)).select(:id, :name, :identifier, :lft, :rgt).to_a
         projects -= [@project]
         if projects.any?
           options =
               ("<option value=''>Sélectionner un projet</option>" +
                   '<option value="" disabled="disabled">---</option>').html_safe
           options << project_tree_options_for_select(projects) do |p|
             {:value => p.id}
           end
           options = options.gsub('&nbsp;&#187;', '&nbsp;').html_safe %>
        <%= select_tag :project_from, options %>
        <%= submit_tag l(:button_copy) %>
      <% else %>

      <p>Aucun autre projet n'est configuré pour l'instant</p>

    <% end %>

    </p>
  </fieldset>
<% end %>


<script type="text/javascript">
    $(function () {
        $('#project_from').select2({
            containerCss: {width: '300px', minwidth: '300px'},
            width: 'style'
        });
    });
</script>
