<h2><%=l(:label_settings)%></h2>

<% tabs = project_settings_tabs
   available_functions = {name: 'functional_roles', action: :functional_roles, partial: 'projects/settings_functional_roles_tab', label: :label_functional_roles}
   tabs << available_functions if @project.module_enabled?("limited_visibility") && ( User.current.admin? || User.current.allowed_to?(:manage_functional_roles_by_project, @project) ) %>

<%= render_tabs tabs %>

<% html_title(l(:label_settings)) -%>
