<% organization_roles = @o.default_roles_by_project(@project) %>
<span class='permission_roles' style="float: left;">
  <span id="orga-<%= @o.id %>-roles">
    <% if organization_roles.any? %>
      <%= h organization_roles.map(&:name).join(", ") %>
    <% else %>
      <span class="see_everything"><%= l('see_everything') %></span>
    <% end %>
  </span>
</span>
