<span class="role <%= styles %>" data-role-id="<%= role.id %>">
  <span class=status-icon><i class=fa-icon-ok></i><i class=fa-icon-remove></i></span>
  <%= role.name %>
  <i class="fa-icon-lock"></i>
</span>
